html {
  font-family: monospace;
}

nav {
  position: relative;

  height: 40px;

  color: white;
  background-color: black;
}

.drop-down-content {
  position: absolute;
  z-index: 1;

  display: none;

  min-width: 100px;

  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.drop-down-content a {
  display: block;

  width: 100px;
  padding: 10px;

  text-decoration: none;

  color: black;
}

.drop-down-content a:hover {
  color: grey;
}

.show {
  display: block;
}

button {
  margin: 10px 0 0 10px;
  padding: 5px;

  color: black;
  border: none;
  border-radius: 5px;
  background-color: white;
}

.select-items {
  display: flex;
  justify-content: flex-end;
}

div select {
  display: none;
  margin-top: 5px;
}

.mobile-ready-links {
  display: flex;
  justify-content: center;
}

.mobile-ready-links a {
  margin: 10px;
  padding: 5px;

  text-decoration: none;

  color: white;
  background: black;
}

.slideshow-container {
  position: relative;

  max-width: 1000px;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  position: absolute;
  top: 50%;

  width: auto;
  margin-top: -22px;
  padding: 16px;

  cursor: pointer;
  user-select: none;
  transition: 0.6s ease;

  color: white;
  border-radius: 0 3px 3px 0;

  font-size: 20px;
}

.next {
  right: 0;

  border-radius: 3px 0 0 3px;
}

.text {
  position: absolute;
  bottom: 8px;

  width: 100%;
  padding: 8px 12px;

  text-align: center;

  color: white;

  font-size: 15px;
}

.numbertext {
  position: absolute;
  top: 0;

  color: white;

  font-size: 12px;
}

.dot {
  display: inline-block;

  width: 15px;
  height: 15px;
  margin: 0 2px;

  cursor: pointer;
  transition: background-color 0.6s ease;

  border-radius: 50%;
  background-color: #bbb;
}

.active, dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media (max-width: 960px) {
  .mobile-ready-links {
    display: none;
  }

  div select {
    display: flex;
  }
}

.form {
  width: 50%;
  margin: 20px auto;
}

form input {
  width: 100%;
  padding: 5px;

  border: .05px grey solid;
  border-radius: 5px;
}

#submit-btn, #giphy-button {
  margin: 2px auto;

  text-align: center;

  border: 0.5px black solid;
}

input:invalid {
  border: .05px red solid;
}

input:valid {
  border: .05px green solid;
}

#error {
  color: red;
}

.api {
  width: 50%;
  margin: auto;
}

#giphy {
  max-width: 100%;
  margin: 5px;
}
#ginput {
  padding: 5px;

  border: .05px grey solid;
  border-radius: 5px;
}
